.products-heading {
  text-align: center;
}
.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  text-align: center;
  margin: 40px 50px;
  gap: 2rem;
}
.items img {
  height: 142px;
  width: 100px;
}

.product {
  padding: 20px;
}
.product a {
  text-decoration: none;
  color: #5b5b5b;
}

.product h3,
p {
  margin: 0;
}
.product h3 {
  font-weight: 400;
  font-size: 1rem;
  min-height: 40px;
}
.product p {
  margin-top: 7px;
}

.items {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 1800px) {
  .products {
    width: 70vw;
    margin: auto;
  }
}
